<h1>Welcome</h1>

<p>
This web application was created for a Ruby on Rails pair programming <a href='https://github.com/Ada-C7/rideshare-rails'>project</a> through <a href='http://adadevelopersacademy.org/'>Ada Developers Academy</a>'s curriculum. 
</p>
