<h1>Passenger Info</h1>

<ul>
  <li>
    Passenger ID: <%= @passenger[:id] %>
  </li>
  <li>
    Passenger name: <%= @passenger[:name] %>
  </li>
  <li>
    Passenger phone number: <%= @passenger[:phone_num] %>
  </li>
</ul>
