<h1>Drivers' List</h1>

<% @drivers.each do |driver| %>
<%= link_to driver.id, driver_path(driver.id) %>
  <%= "Driver ID: #{driver[:id]} Name: #{driver[:name]}"%> </br>
  <section>

  </section>
<% end %>
